.cards:hover{
    border-color: lightskyblue;
}

a.active .cards {
    border-color: #007bff;
}

.card-title {
    color:black;
}
canvas {
    max-width: 100% !important;
    height: auto !important;
}