<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenant User Dashboard</title>
    <style>
        .card:hover {
            border-color:rgb(22, 65, 209);
            box-shadow: 0 0 10px 2px rgba(22, 65, 209, 0.6);
        }
        
        .card{
            transition:box-shadow 0.5s, border-color;
        }
    </style>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
    </script>
</head>
<body>
    <!-- Header of Dashboard -->
    <div class="container py-4">
        <div class="row align-items-center justify-content-between">
            <!-- Left section: Logo and Greeting -->
            <div class="col-md-6 d-flex align-items-center ps-md-5">
                <div class="me-4">
                    <img src="../../media/logo_light.png" alt="Property Maintenance" style="height: 125px;">
                </div>
                <div>
                    {% if user.is_authenticated %}
                        <h1 class="mb-0" style="font-size: 3rem;">Hello, {{ user.username|capfirst }}!</h1>
                    {% else %}
                        <p class="mb-0" style="font-size: 2.5rem;">Hello, Guest!</p>
                    {% endif %}
                </div>
            </div>
    
            <!-- Right section: User dropdown and button -->
            <div class="col-md-6 text-end pe-md-5">
                {% if user.is_authenticated %}
                <div class="dropdown my-3 px-4">
                    <a class="d-inline-flex align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../media/user_icon.png" alt="User Icon" width="32" height="32" class="rounded-circle me-2">
                        <strong>{{ user.username|capfirst }}</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
                <div class="m-4">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
                        New Request
                    </button>
                </div>
                {% endif %}


            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">New Maintenance Request</h5>
            <button type="button" class="close btn-danger rounded" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">X</span>
            </button>
            </div>
            
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    {{ form_ticket.as_p }}
                    {{ form_comment.content.label_tag }}
                    {{ form_comment.content }}
                    {{ form_comment.content.errors }}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary ">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>

    
    <!-- Open Request Tickets Shown -->
    <div class="container">
            <h2>Open Requests</h2>

            <div class="flex-row d-flex p-4 " style="background-color: #E5E4E2">
                <div class="col-1 align-self-center mx-auto d-flex justify-content-center">
                    ⬅️
                </div>

                <!-- Scrollable container for tickets -->
                <div class="col-md overflow-hidden position-relative " style="overflow-x: auto;">
                    <div class="d-flex flex-row gap-3 mx-auto" style="min-height:200px; overflow-x: auto;" >
                        {% for ticket in tickets %}
                            {% if ticket.submitter == user and ticket.status != "completed" %}
                                <div class="card flex-shrink-0" style="width: 18rem;">
                                    {% if ticket.image != "" %}
                                        <img class="card-img-top" style="max-height:150px; object-fit: cover;" src="{{ ticket.image.url }}" />
                                    {% else %}
                                        <img class="card-img-top" style="max-height:150px; object-fit: cover;" src="../../media/logo_light.png" />
                                    {% endif %}
                                    <div class="card-body">
                                    <p class="card-title overflow-hidden fs-5" style="height: 30px;">{{ ticket.title|title }}</p>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ ticket.status|capfirst }}</h6>
                                    <p class="card-text overflow-hidden" style="height: 80px;">{{ ticket.description|capfirst }}</p>
                                    <a href="{% url 'page' id=ticket.id %}" class="card-link stretched-link">Card link</a>
                                    </div>
                                </div>
                            {% endif %}
                        
                        {% endfor %}
                    </div>
                </div>

                <div class="col-1 align-self-center d-flex justify-content-center">
                    ➡️
                </div>
            </div>
    </div>
    
    <!-- Closed Request Tickets Shown -->
    <div class="container my-5">
            <h2>Closed Requests</h2>
            <div class="flex-row d-flex p-4 " style="background-color: #E5E4E2">
                <div class="col-1 align-self-center mx-auto d-flex justify-content-center">
                    ⬅️
                </div>

                <div class="col-md  overflow-hidden position-relative " style="overflow-x: auto;">
                    <div class="d-flex flex-row gap-3 overflow-auto mx-auto" style="min-height:200px;" >
                        {% for ticket in tickets %}
                            {% if ticket.submitter == user and ticket.status == "completed" %}
                                <div class="card" style="width: 18rem;">
                                    {% if ticket.image != "" %}
                                        <img class="card-img-top" style="max-height:150px; object-fit: cover;" src="{{ ticket.image.url }}" />
                                    {% else %}
                                        <img class="card-img-top" style="max-height:150px; object-fit: cover;" src="../../media/logo_light.png" />
                                    {% endif %}
                                    <div class="card-body">
                                    <h5 class="card-title overflow-hidden" style="height: 24px;">{{ ticket.title }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ ticket.status|capfirst }}</h6>
                                    <p class="card-text overflow-hidden" style="height: 80px;">{{ ticket.description }}</p>
                                    <a href="" class="card-link stretched-link">Card link</a>
                                    </div>
                                </div>
                            {% endif %}
                        
                        {% endfor %}
                    </div>
                </div>

                <div class="col-1 align-self-center d-flex justify-content-center">
                    ➡️
                </div>
            </div>
    </div>
    
</body>
</html>