{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load crispy_forms_tags %}
    <title>Update Ticket</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>    
<body>
</div>
<div class="container">
    <div class="row">
        <div class="col-1 my-auto text-center">
            <a class="btn btn-danger" href="{% url 'tenant_dashboard' %}" role="button" style="margin-top: 10px;">&lt; Back</a>
       </div>
   </div>
   <div class="row">
        <div class="col text-center">
             <h1 class="py-3">Update Ticket Page</h1>
        </div>
        <div class="">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</body>
</html>
